<h1>List of projects</h1>

<%= link_to 'New Project', new_project_path %><br>

<%= render 'projects', :status => 'Waiting' %>
<%= render 'projects', :status => 'Accepted' %>
<%= render 'projects', :status => 'Refused' %>