<h1>Add new project</h1>

<%= form_for :project, url: projects_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :lecturer %>
		<%= f.text_field :lecturer %>
	</p>
		<%= form_for([@project, @project.students.build]) do |s| %>
		  <p>
		    <%= s.label :name %><br />
		    <%= s.text_field :name %>
		  </p>
		<% end %>
	<p>
		<%= f.submit %>
	</p>
<% end %>