<h1>pms</h1>

<%= link_to "Create Project", [@project, new_project_student_path] %>

<table border="1">
  <tr>
	<th>Lp.</th>
    <th>Title</th>
    <th>Lecturer</th>
	<th>Creation date</th>
	<th>Status</th>
	<th>Students</th>
  </tr>
 
  <% @projects.each_with_index do |p, i| %>
    <tr>
		<td><%= (i+1) %>.</td>
		<td><%= p.title %></td>
		<td><%= p.lecturer %></td>
		<td>
			<%= p.created_at.localtime.strftime(format='%F') %><br>
			<%= p.created_at.localtime.strftime(format='%R') %>
		</td>
		<td><%= p.status %></td>
		<td>
			<ul>
				<% p.students.each do |student| %>
					<li><%= student.name %></li>
				<% end %>
			</ul>
		</td>
    </tr>
  <% end %>
</table>